body {
  background-image: url("../../assets/images/ravenna_@2X.png");
  color: white;
  font-family: 'MedievalSharp', cursive;
}

/* Sets styles for Hangman heading */
h1 {
  color: white;
  padding-top: 60px;
  font-size: 6em;
  text-align: center;
  transform: rotate(-30deg);
}

/* Sets GoT background image and spacing */
#banner {
  height: 250px;
  background-image: url("../../assets/images/got-banner.jpg");
  background-size: cover;
  margin-bottom: 10px;
}

/* Keeps game-space from moving when instructions are marked invisible */
#instructions-container {
  height: 100px;
}
#instructions {
  padding-top: 5px;
  border: 5px dotted white;
}

/* Spaces and sizes house banner image */
#img-section img {
  padding-top: 50%;
  padding-left: 10%;
}
#house-picture {
  width: 100%;
}
